@font-face {
  font-weight: 400;
  font-family: "Subway-SixInch";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subwaysix-inch.woff2") format("woff2"),
    url("../fonts/subwaysix-inch.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Subway-Footlong";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subwayfootlong.woff2") format("woff2"),
    url("../fonts/subwayfootlong.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Subway-Lettering";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/subwaylettering.woff2") format("woff2"),
    url("../fonts/subwaylettering.woff") format("woff");
}
