html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  min-width: $mobile-width;

  font-family: $font;
  font-size: 14px;
  line-height: 16px;
  color: $black;

  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sticky {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
