$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

$desktop-padding: 110px;
$tablet-padding: 60px;
$mobile-padding: 24px;

$font: "Arial", sans-serif;
$font-alt: "Arial", sans-serif;

$time: 0.2s;

$black: #4a4a4a;
$white: #ffffff;
